Repository qsyncer/back: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, yamllint

black:
  name: black
  language: system
  entry: venv/bin/black --check

isort:
  name: isort
  language: system
  entry: venv/bin/isort --check-only --diff

pylint:
  name: pylint
  language: system
  entry: venv/bin/pylint
  require_serial: true
  args:
  - -j 2

yamllint:
  name: yamllint
  language: system
  entry: venv/bin/yamllint --strict -c yamllint_config.yaml

chore: add auto-rebase workflow
  .github/workflows/rebase.yml
Due: yamllint

feat(docker): add message queue
  docker-compose.yml
Due: yamllint

Add feature template
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

feat(docker): add web server, app server and database
  .dockerignore
  .pre-commit-config.yaml
  .pylintrc
  Makefile
  docker-compose.yml
  docker/app/Dockerfile
  docker/web/Dockerfile
  docker/web/nginx.conf
  local/dev.yml
  local/prod.yml
  local/spellcheck_private_dictionary
  qsyncer/api/__init__.py
  qsyncer/api/admin.py
  qsyncer/api/apps.py
  qsyncer/api/migrations/__init__.py
  qsyncer/api/models.py
  qsyncer/api/tests.py
  qsyncer/api/urls.py
  qsyncer/api/views.py
  qsyncer/gunicorn_config.py
  qsyncer/manage.py
  qsyncer/qsyncer/__init__.py
  qsyncer/qsyncer/asgi.py
  qsyncer/qsyncer/settings.py
  qsyncer/qsyncer/urls.py
  qsyncer/qsyncer/wsgi.py
  qsyncer/requirements/base.in
  qsyncer/requirements/base.txt
  qsyncer/requirements/dev.in
  qsyncer/requirements/dev.txt
  requirements/base.txt
  setup.cfg
Due: black, isort, pylint, yamllint

chore(makefile): remove oneshell, use path instead
  Makefile
Due: none

feat(makefile): add django helper
  Makefile
Due: none

chore(ci): fix linter cache
  .github/workflows/linter.yml
Due: yamllint

chore(ci): remove duplicate key
  .github/workflows/linter.yml
Due: yamllint

chore(makefile): fix path
  Makefile
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
